.login-outer {
    width: 75%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login-box {
    margin-top: 40%;
    padding: 4%;
    display: flex;
    width: 70%;
    align-items: flex-start;
    background-color: rgb(97, 93, 93);
    height: 60%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-box-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.login-forget {
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 1rem;
    color: purple;
}

.login-newuser {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 1300px) {
    .login-box-title {
        font-size: 2rem;
    }
    .login-box {
        width: 45%;
        height: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    .login-box-title {
        font-size: 1.7rem;
    }
    .login-box {
        width: 50%;
        height: 70%;
    }
    .login-forget {
        font-size: .75rem;
    }
}

@media only screen and (max-width: 600px) {
    .login-box-title {
        font-size: 1.7rem;
    }
    .login-box {
        width: 150%;
        height: 75%;
    }
    .login-forget {
        font-size: 0.7rem;
    }
    
}